/* header */
.navbar-brand {
    color: #FFF!important;
}
.nav-link {
    color: #FFF!important;
}
.nav-item {
    margin-right: 70px;
}
.nav-link-border{
    border: 1px solid #FFF;
}
.nav-item-active {
    border-bottom: 3px solid red;
}

.min-height-600 {
    min-height: 600px;
}

.shadow-box {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}

.nav-style{
    position: inherit;
    height: 100%;
}

/* margin */

.mt-150 {
    margin-top: 150px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 2px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 2px;
}

/* padding */

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.width-100 {
    width: 100%;
}

/* text-align */

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

/* font-size */

.font-size-30 {
    font-size: 30px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-10 {
    font-size: 10px;
}

/* font-color */

.font-color-red {
    color: red;
}

.font-color-black {
    color: black!important;
}

.font-color-white {
    color: white;
}

/* border-color */
.border-color-red {
    border-color: red;
}

.border-color-transport {
    border: 0;
}

/* footer */

footer {
    background-color: #343a40;
    color: #fff;
    position: absolute;
    width: 100%;
}


/* side navigation bar*/
.sideNavPanel div
{
    font-size: 1.25em;
}

.sideNav svg {
    font-size: 1.5em;
}

.LogOutNavItem
{
    margin-top: 100px;
}

.sideNavPanel .sideNav
{
    height:100%;
}

/* dashboard region*/
.dashboard_region_header
{
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.dashboard_main
{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.dashboard_region
{
    position: absolute;
    overflow: overlay;
}

.ReactTable
{
    margin: 10px;
    width: 100%;
    overflow: overlay;   
}

.hidden 
{ 
    display:none; 
}

.summary_table .rt-tr-group:first-child
{
    background: #BCE7F9;
}